.container {
	height: 100vh;
}

.content {
	height: 100%;
	padding: 80px 20px 20px;
	text-align: center;

	p {
		margin: 0;
	}
}

.panelNumber {
	color: rgba(255, 255, 255, 0.25);
	font-size: 60px;
	line-height: 60px;
}
