html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background: #f9f9f9;
	color: #6a6a6a;
	font:
		normal 400 16px/24px 'Roboto Condensed',
		sans-serif;
}
