html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background: #191919;
	color: #efefef;
	font:
		normal 400 16px/24px 'Roboto Condensed',
		sans-serif;
}
