.globalNavigation {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 48px;
	height: 100%;
	padding: 16px 8px;
	border-right: 1px solid #333;
	background: #191919;
}

.items {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.separator {
	margin: 16px 0;
	border: 0;
	border-top: 1px solid #333;
}
